---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'My Astro Learning Blog';
const postsNum: number = 3;

const allPosts = await Astro.glob('../pages/posts/*.md');
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <p>Now has {postsNum} posts</p>
      <p>This is where I will post about my journey learning Astro.</p>
      <ul>
        {
          allPosts.map((post) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </BaseLayout>
  </body>
</html>
